@model IEnumerable<Pen.DTO.CoverTypeList>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoverTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoverTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverTypeName)
            </td>
            <td>
                <a class="btn btn-success"asp-action="Edit" asp-route-id="@item.CoverTypeId">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CoverTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
    <a class="btn btn-dark" asp-action="Recover">Recover</a>
</div>
