@model IEnumerable<Pen.DTO.TipTypeList>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipTypePenName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipTypePenName)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.TipTypeId">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TipTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
    <a class="btn btn-light" asp-action="Create">Recover</a>
</div>
