@model IEnumerable<Pen.DTO.PenInformationList>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Details</h1>
<table class="table table-bordered">
    <thead hidden>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenInformationId)
            </th>
        </tr>
    </thead>
    <tbody hidden>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PenInformationId)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenImage)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div id="carouselExampleCaptions" class="carousel slide d-inline-block" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button  type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active text-left" aria-current="true" aria-label="Slide 1"></button>
                            <button  type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button  type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active text-left">
                                <img src="@item.PenImage" alt="Image" />                          
                            </div>
                            <div class="carousel-item text-left">
                                <img src="@item.PenImage1" alt="Image" />
                            </div>
                            <div class="carousel-item text-left">
                                <img src="@item.PenImage2" alt="Image" />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductYear)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductYear)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CapLength)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CapLength)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenLengthExcludingCap)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PenLengthExcludingCap)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CapClosedPenLength)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CapClosedPenLength)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiameterOfThePen)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DiameterOfThePen)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conduction)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Conduction)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipTypes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tipTypes)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fillingMechanism)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fillingMechanism)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.covertype)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.covertype)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenStatusName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PenStatusName)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BodyMaterial)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyMaterial)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Explanation)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-dark" asp-action="List">Back to List</a>
</div>
