@model IEnumerable<Pen.DTO.PenInformationList>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenInformationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PenInformationId)
                </td>
                <td>
                    <div style="height:200px; width:200px;" id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner text-center">
                            <div class="carousel-item active">
                                <img style="height:200px; width:200px;" src="@item.PenImage" alt="Image" />
                            </div>
                            <div class="carousel-item">
                                <img style="height:200px; width:200px;" src="@item.PenImage1" alt="Image" />
                            </div>
                            <div class="carousel-item">
                                <img style="height:200px; width:200px;" src="@item.PenImage2" alt="Image" />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>                                       
                    </div>
                    <br />
                    <div class="text-center">
                        <a class="btn btn-light" asp-action="Details" asp-route-id="@item.PenInformationId">Details</a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PenInformationId">Edit</a> |                 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PenInformationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <thead>
</table>
<div>
    <a class="btn btn-dark" asp-action="Create">Create</a>
    <a class="btn btn-secondary" asp-action="Recover">Recover</a>
</div>
