@model IEnumerable<Pen.DTO.PenInformationList>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenInformationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PenInformationId)
                </td>
                <td>                 
                <td style="height:200px; width:200px;">
                    <img src="@item.PenImage" alt="Image" />
                </td>              
                <td>                 
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>                   
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PenInformationId">Edit</a> |
                    <a class="btn btn-light" asp-action="Details" asp-route-id="@item.PenInformationId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PenInformationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-dark" asp-action="List">Back to List</a>
</div>


